body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1c1c1c;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 80px 20px;
    text-align: center;
    color: #FFD700;
    background: #1c1c1c; /* Cor de fundo igual ao resto do site */
}

.hero {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    margin-bottom: 15px;
    color: #FFD700; /* Mantém a cor consistente com o header */
}

p {
    font-size: 1.25em;
    margin-bottom: 25px;
    color: #e0e0e0; /* Cor do texto para manter a consistência */
}

.cta-button {
    background-color: #FFD700;
    color: #333;
    padding: 15px 35px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.cta-button:hover {
    background-color: #e5b300;
    transform: scale(1.05);
}

main {
    flex: 1;
    padding: 20px;
}

.about, .what-is {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
}

.about h2, .what-is h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: #FFD700;
    margin-bottom: 20px;
}

.about p, .what-is p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0 auto 20px;
    max-width: 700px;
}

.what-is {
    background: #2c2c2c;
    border: 4px solid #FFD700;
    border-radius: 12px;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.plans {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

.plan {
    background: #2c2c2c;
    border: 4px solid #FFD700;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plan:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.plan h2 {
    font-family: 'Montserrat', sans-serif;
    color: #FFD700;
    font-size: 2.5em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    background: #333;
    border-radius: 8px;
    margin: 12px 0;
    padding: 12px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li i {
    margin-right: 12px;
    color: #FFD700;
}

footer {
    background: #000;
    color: #e0e0e0;
    text-align: center;
    padding: 15px 20px;
    width: 100%;
    position: relative;
    bottom: 0;
}

/* Estilo específico para dispositivos móveis */
@media (max-width: 768px) {
    .cta-button {
        width: 100%;
        padding: 12px 20px;
        font-size: 1.1em;
    }
}
